/*
Author: Daniel Cheeley
Date: 9/19/25
File Name: apply08.css
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}
/*border for table*/
table {
	width: 80%;
	margin: 0 auto;
	border: 3px solid #71881b;
}

table, tr, th, td {
	border-collapse: collapse;
	padding: 2%;
}
/*style caption*/
caption {
	font-size: 2em;
	padding: 2%;
	margin: 2%;
}
/*add border for inside data*/
th, td {
	border: 1px solid #7188bb;
}
/*table data align center*/
td {
	text-align: center;
}
/*table row chang background color*/
tr {
	background-color: #d3e788;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}