main {
  padding: 30px;
}

header {
  padding-left: 25px;
}

nav {
  padding-left: 30px;
}

img {
  padding-left: 30px;
}

body {
  background-color: darkolivegreen;
  color: beige;
}

a {
  color: rgb(211, 170, 109);
}