/*Name: Daniel Cheeley
File name: style.css
date: 9/5/25*/

/*css reset*/
body, header, nav, main, footer, img, h1, h3, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: darkslateblue;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

img {
  max-width: 100%;
  display: block;
}

#title {
  margin: 20px;
  text-align: center;
}

header h1 {
  font-size: 4em;
}

nav {
  text-align: center;
  padding: 20px 0;
}

nav li {
  display: inline-block;
  padding-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

main {
  margin: 10px;
  padding: 20px;
  border: 5px solid white;
}

main p {
  padding: 20px;
  font-size: 1.5em;
}

main ul {
  padding: 20px;
  font-size: 1.5em;
}

main ol {
    font-size: 1.5em;
}

main h3 {
  font-size: 2em;
}

main h2 {
  font-size: 2.5em;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: lightskyblue;
}

footer {
  padding: 20px;
}

.aboutimages {
  width: 150px;
}